body {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
    background-color: #282A36;
}

h1 {
    color: #5AF78E
}

h2 {
    color: #F8F8F2
}

h3 {
    color: #F8F8F2
}

p {
    color: #F8F8F2
}

th {
    color: #F8F8F2
}

a {
    color: #BD93F9
}

li::marker {
    color: #F8F8F2
}
